@model VidlyNew.Models.Movie
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                <h3> Movie Details</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            <tr>
                <td>
                    <h3>@Model.Name</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Genre : @Model.Genre.Name</li>
                        <li>Release Date : @Model.ReleasedDate.ToShortDateString()</li>
                        <li>Date Added : @Model.DateAdded.ToShortDateString() </li>
                        <li>Number in stock : @Model.QuantityInStock</li>
                    </ul>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    <h3>No matching data available</h3>

                </td>
            </tr>
        }
    </tbody>
</table>